<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="jp.co.shekeenlab.PrefixDial"
    android:versionCode="20"
    android:versionName="1.1" >
    <!-- versionCodeはコミット数+8 -->

    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS"/>
    <uses-permission android:name="android.permission.CALL_PHONE" />
	<uses-permission android:name="android.permission.READ_PHONE_STATE"/>
	<uses-permission android:name="android.permission.READ_CALL_LOG"/>
    <uses-permission android:name="android.permission.WRITE_CALL_LOG"/>
    
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="HookActivity"
            android:label="@string/title_hook"
            android:theme="@style/DialogTheme"
            android:launchMode="singleInstance"
            android:excludeFromRecents="true"
            android:noHistory="true">
        </activity>
        <activity
            android:name="EditActivity"
            android:theme="@style/DialogTheme">
        </activity>
        <receiver android:name="DialReceiver">
            <intent-filter>
                <action android:name="android.intent.action.NEW_OUTGOING_CALL" />
            </intent-filter>
        </receiver>
	    <receiver android:name=".PhoneStateReceiver">
		    <intent-filter>
			    <action android:name="android.intent.action.PHONE_STATE" />
		    </intent-filter>
	    </receiver>
        <provider android:name="PrefixProvider"
            android:authorities="jp.co.shekeenlab.PrefixDial.prefix"
            android:exported="false">
        </provider>
	    <service android:name=".LogEditorService"/>
		<service android:name=".HookDialService"/>
		<activity
			android:name=".TermsActivity"
			android:theme="@style/DialogTheme">
		</activity>
    </application>

</manifest>
